.code h1 {
}
.code h2 {
  margin-left: 2em;
}
.code h3 {
  margin-left: 4em;
}
.code h4 {
  margin-left: 6em;
}
.code h5 {
  margin-left: 8em;
}
.code h6 {
  margin-left: 10em;
}
.code h7 {
  margin-left: 12em;
}
.code h8 {
  margin-left: 14em;
}
.code h9 {
  margin-left: 16em;
}
